body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 25px auto;
}

.controls {
  margin-bottom: 25px;
}

.controls ul {
  margin: 0;
  padding: 0;
}

.controls li {
  display: inline-block;
  margin-right: 12px;
}

.controls li:last-child {
  margin-right: 0;
}

.controls li>label {
  cursor: pointer;
}

.controls button {
  font-size: 16px;
  cursor: pointer;
}
